.blog-pool {
	position: relative;
    overflow: hidden;
	.btn {
		display: none;
	}
	#mse2_results {
		margin-bottom: 0;
	}
}

.chosen-article {
	margin-bottom: 40px;
	background-color: #4d4d4c;
}

.chosen-article__image {
	display: block;
	height: 403px;
}

.chosen-article__description {
	padding: 55px 35px 20px 52px;
}

.chosen-article__date {
	margin-right: 33px;
	color: #ffffff;
	font-size: 14px;
}

.chosen-article__category {
	color: #ffffff;
	font-size: 14px;
}

.chosen-article__title {
	display: inline-block;
	margin: 55px 0;
	padding-left: 85px;
	color: #fefefe;
	font-size: 32px;
	font-weight: 500;
	line-height: 1.28;
	position: relative;
	&::before {
		content: '';
		width: 40px;
		height: 1px;
		background-color: #fff;
		position: absolute;
		top: 25px;
		left: 0px;
	}
	span {
		border-bottom: 1px solid transparent;
	}
	&:hover {
		color: #fefefe;
		text-decoration: none;
		span {
			border-bottom-color: #fff;
		}
	}
}

.chosen-article__more {
	color: #ffffff;
	font-size: 14px;
	text-decoration: underline;
}
