@mixin substrateGradient($from, $to, $edge) {
	background-image: -webkit-linear-gradient($from 0%, $from $edge, $to $edge, $to 100%);
	background-image: -o-linear-gradient($from 0%, $from $edge, $to $edge, $to 100%);
	background-image: linear-gradient($from 0%, $from $edge, $to $edge, $to 100%);
}

.page-header {
	background-color: #f7f7f4;
}

.page-header__text {
  max-width: 795px;
  margin: 60px auto;
  text-align: center;
}

.page-main {
	@include substrateGradient(#f7f7f4, #ffffff, 130px);
	&--blog {
		@include substrateGradient(#f7f7f4, #ffffff, 220px);
	}
	&--contacts {
		@include substrateGradient(#f7f7f4, #ffffff, 470px);
	}
	&--portfolio {
		@include substrateGradient(#f7f7f4, #4d4d4c, 200px);
	}
	&--prices {
		@include substrateGradient(#f7f7f4, #ffffff, 320px);
	}
	&--internship {
		@include substrateGradient(#f7f7f4, #ffffff, 490px);
	}
	&--comparisons {
		background: #4d4d4c;
	}
}

.heading-second {
	text-align: center;
	margin: 60px 0;
	color: #000000;
	font-family: $font-alt;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.125;
	&::before {
		content: '';
		width: 40px;
		height: 1px;
		display: inline-block;
		background-color: #000000;
		margin-right: 10px;
		margin-left: -50px;
		vertical-align: middle;
	}
}

::selection {
	background: rgba(55, 55, 54, 0.8);
	color: #fff;
}
::-moz-selection {
	background: rgba(55, 55, 54, 0.8);
	color: #fff;
}

.wrapper {
	overflow: hidden;
}

.pagetitle {
	max-width: 800px;
	//margin: 0 auto 113px;
	margin: 0 auto 42px;
	text-align: center;
	color: #373736;
	font-family: $font-alt;
	font-size: 48px;
	font-weight: 500;
	letter-spacing: 15px;
	@media (max-width: $breakpoint-xsmall-max) {
		font-size: 35px;
		margin-top: 50px;
		margin-bottom: 50px;
		letter-spacing: 5px;
	}
}

.pagetitle--white {
	color: #fff;
}

.header-substrate {
	height: 57px;
	background: url('../img/header-substrate.jpg') 50% 50% no-repeat;
	background-size: cover;
	@media (max-width: $breakpoint-xsmall-max) {
		height: 50px;
	}
}

.header-beige {
	background-color: #f7f7f4;
}

.breadcrumb {
	padding: 25px 0;
	margin-bottom: 35px;
	position: relative;
	&:after {
		content: '';
		width: 799px;
		height: 1px;
		position: absolute;
		display: block;
		bottom: -1px;
		left: 50%;
		transform: translateX(-50%);
		background-color: rgba(140, 140, 140, 0.4);
	}
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        color: #666666;
		letter-spacing: 1px;
		font-weight: 400;
        a {
        	font-size: 18px;
        	color: #666666;
			text-decoration: underline;
	        &:hover {
	        	color: #666666;
	            text-decoration: underline;
	        }
        }
    }
    .uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before {
        content: '→';
		margin: 0 9px;
		font-size: 12px;
		vertical-align: middle;
    }
	@media (max-width: $breakpoint-small-max) {
		padding: 15px 0;
		margin-bottom: 30px;
	}
	@media (max-width: $breakpoint-xsmall-max) {
		display: none;
	}
}

.breadcrumb--white {
	&::after {
		background-color: rgba(255,255,255,.4);
	}
	li {
		color: #fff;
		a {
			color: #fff;
		 	&:hover {
				color: #fff;
			}
		}
	}
	.uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before {
		color: #fff;
	}
}

.button-intro {
	padding: 24px 35px 20px;
	background-color: #cc0000;
	font-size: 18px;
	color: #fefefe;
	line-height: 1;
	transition: 0.2s ease-out;
	&:hover {
		background-color: #d00;
		color: #fff;
	}
}

.button-gray {
	padding-left: 50px;
	padding-right: 50px;
	background-color: #797977;
	font-size: 18px;
	color: #fefefe;
	line-height: 58px;
	transition: 0.2s ease-out;
	&:hover {
		background-color: #41413f;
		color: #fff;
	}
}

.button-arrow {
	position: relative;
	display: inline-block;
	width: 21px;
	height: 7px;
	margin-left: 17px;
	vertical-align: middle;
	top: -2px;
	&::before {
		content: '';
		width: 21px;
		height: 1px;
		background-color: #fff;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		transition: 0.2s ease-out;
	}
	&::after {
		content: '';
		width: 4px;
		height: 4px;
		border-right: 1px solid #fff;
		border-bottom: 1px solid #fff;
		position: absolute;
		top: 50%;
		right: -1px;
		transform: rotate(-45deg) translateY(-50%);
		transition: 0.2s ease-out;
	}
	*:hover>& {
		&::before {
			width: 26px;
			right: -5px;
			transition: 0.2s ease-out;
		}
		&::after {
			right: -6px;
			transition: 0.2s ease-out;
		}
	}
}

.paging {
    text-align: center;
    padding: 95px 0 60px;
    background-color: #4d4d4c;
    @media (max-width:$breakpoint-small-max) {
        padding: 36px 0;
    }
    @media (max-width:$breakpoint-xsmall-max) {
        padding: 25px 0;
    }
}

.paging__inner {
    display: inline-block;
    position: relative;
}

.button-framed {
	color: #ffffff;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.9px;
	padding: 10px 35px;
	background: transparent;
	border: 1px solid #fff;
	transition: 0.2s ease-out;
	min-width: 250px;
	&:hover {
		background-color: rgba(0, 0, 0, 0.2);
		color: #fff;
	}
    @media (max-width: $breakpoint-xsmall-max) {
        padding: 5px 45px;
    }
}

.consult {
	box-sizing: border-box;
	padding: 40px 100px 70px;
	background-color: #cc0000;
	width: 100%;
    @media (max-width: $breakpoint-xsmall-max) {
        padding: 40px 18px;
    }
}

.consult__title {
	margin-bottom: 45px;
	color: #ffffff;
	font-size: 30px;
	line-height: 1.2;
	text-transform: uppercase;
}

.consult__text {
	margin-bottom: 85px;
	font-size: 24px;
	color: #fff;
    @media (max-width: $breakpoint-xsmall-max) {
		margin-bottom: 38px;
		font-size: 18px;
		line-height: 1.35;
    }
}

.consult__button {
	margin-bottom: 30px;
	padding-top: 21px;
	padding-left: 42px;
	padding-right: 42px;
	border: 1px solid #ffffff;
	background-color: #990000;
	font-weight: 500;
	letter-spacing: 1px;
}

.view-all {
    white-space: nowrap;
    color: #fefefe;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(64px, -50%);
    padding: 10px 0;
    display: inline-block;
    background: transparent;
    border: 0;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        color: #fefefe;
        &:before {
            width: 60px;
        }
    }
    &::before {
        content: '';
        position: absolute;
        width: 40px;
        height: 1px;
        background-color: #ffffff;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: all .3s ease;
    }
    .section-title--dark & {
        color: #000000;
        &:hover {
            color: #000000;
        }
        &::before {
            background-color: #000000;
        }
	}

    @media (max-width:$breakpoint-small-max) {
		transform: none;
		left: auto;
		top: auto;
		display: block;
		margin: 10px auto;
		position: relative;
    }
    @media (max-width:$breakpoint-xsmall-max) {

    }
}

.portfolio-item {
    background-color: #000;
    min-height: 400px;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        .portfolio-item__image {
            opacity: 0.5;
            transform: scale(1.1, 1.1);
            transition: opacity 1s ease, transform 5s linear, transform-origin 1s linear;
        }
        .portfolio-item__title {
            opacity: 1;
            transform: translateY(0);
            transition: opacity .3s ease, transform .5s ease;
        }
        .portfolio-item__line {
            opacity: 1;
            transform: translateY(0);
            transition: all .3s ease;
        }
        .portfolio-item__desc {
            opacity: 1;
            transform: translateY(0);
            transition: opacity .3s ease, transform .5s ease;
        }
    }
    @media (max-width:$breakpoint-xsmall-max) {
		min-height: 215px;
    }
}

.portfolio-item__image {
	transition: all 1s ease;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.portfolio-item__title {
    color: #ffffff;
    font-family: $font-alt;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.125;
    text-align: center;
    letter-spacing: 0.75px;
    margin-top: 108px;
    position: relative;
    opacity: 0;
    transform: translateY(-10px);
    @media (max-width:$breakpoint-xsmall-max) {
		margin-top: 0;
		font-size: 24px;
    }
}

.portfolio-item__line {
    margin: 12px auto 18px;
    width: 84%;
    height: 1px;
    background-color: rgba(255,255,255,0.6);
    display: block;
    opacity: 0;
}

.portfolio-item__desc {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    position: relative;
    opacity: 0;
    transform: translateY(10px);
}

.services-item {
	padding: 30px 0 20px;
 	background-position: 50% 50%;
 	background-size: cover;
 	background-repeat: no-repeat;
 	background-color: #4d4d4c;
 	&:nth-child(2) {
 		.services-item__title {
 			color: #fff;
 			border-bottom: 1px solid rgba(255, 255, 255, 0.4);
 			&::before {
 				background-color: #fff;
 			}
 		}
 		.services-item__text {
 			color: #fff;
 		}
 		.services-item__price {
 			color: #fff;
 			span {
 				color: #fff;
 			}
 		}
 	}
 	&:nth-child(3) {
 		.services-item__title {
 			color: #fff;
 			border-bottom: 1px solid rgba(255, 255, 255, 0.4);
 			&::before {
 				background-color: #fff;
 			}
 		}
 		.services-item__text {
 			color: #fff;
 		}
 	}
 	&:nth-child(4) {
 		.services-item__title {
 			color: #fff;
 			border-bottom: 1px solid rgba(255, 255, 255, 0.4);
 			&::before {
 				background-color: #fff;
 			}
 		}
 		.services-item__text {
 			color: #fff;
 		}
 		.services-item__price {
 			color: #fff;
 			span {
 				color: #fff;
 			}
 		}
 	}
}

.services-item__title {
	height: 48px;
	margin: 0 27px 10px;
	padding-left: 43px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.4);
	font-family: $font-alt;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.08;
	position: relative;
	&::before {
		content: '';
		position: absolute;
		top: 39%;
		left: 0;
		width: 30px;
		height: 1px;
		background-color: #000;
	}
}

.services-item__text {
	min-height: 225px;
	padding: 0 27px 0 28px;
	text-align: center;
	@media (max-width: $breakpoint-xsmall-max) {
		text-align: left;
	}
}

.services-item__price {
	text-align: center;
	font-size: 33px;
	font-weight: 300;
	line-height: 37px;
	span {
		margin-right: 12px;
		color: #333333;
		font-size: 66px;
	}
}

.form-required {
	color: #ff0000;
}

.article-item {
	padding-bottom: 40px;
	border-bottom: 1px solid #f0f0f0;
}

.article-item__info {
	margin-bottom: 10px;
	line-height: 1;
}

.article-item__image {
	display: block;
	height: 234px;
	background-color: #000;
	&:hover {
		img {
			opacity: 0.8;
		}
	}
}

.article-item__date {
	margin-right: 32px;
	color: #666666;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
}

.article-item__category {
	color: #666666;
	font-size: 14px;
	line-height: 1;
}

.article-item__title {
	display: block;
	margin-bottom: 30px;
}

.article-item__intro {
	color: #666666;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: -0.05px;
}

#mse2_mfilter .btn_more {
	display: none !important;
}
#pdopage .btn-more {
	display: none !important;
}

.icon-vk,
.icon-twitter,
.icon-youtube,
.icon-instagram {
	display: inline-block;
	width: 30px;
	height: 30px;
	min-height: 30px;
	min-width: 30px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	vertical-align: middle;
}
.icon-vk {
	background-image: url('../img/icon-vk.png');
}
.icon-twitter {
	background-image: url('../img/icon-twitter.png');
}
.icon-youtube {
	background-image: url('../img/icon-youtube.png');
}
.icon-instagram {
	background-image: url('../img/icon-instagram.png');
}

.comprasion__header {
	margin-bottom: 20px;
    @media (max-width:$breakpoint-small-max) {
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-bottom: 36px;
    }
}

.comprasion__title {
	color: #fefefe;
	font-family: 'Museo Sans', sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 1.125;
    @media (max-width:$breakpoint-small-max) {
		width: 100%;
		margin-bottom: 22px;
    }
    @media (max-width:$breakpoint-xsmall-max) {
		margin-bottom: 30px;
    }
}

.comprasion__select {
	color: #cccccc;
	font-size: 18px;
	font-weight: 400;
	line-height: 1;
	text-decoration: none;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
    @media (max-width:$breakpoint-xsmall-max) {
		font-size: 16px;
    }
}

.comprasion-thumbs {
	margin-top: 40px;
}

.comprasion-review {
	margin: 10px 0;
}

.comprasion-review__title {
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 12px;
}

.comprasion-review__desc {
	font-size: 14px;
	color: #cccccc;
	line-height: 1.9;
}

.comprasion-thumb {
	cursor: pointer;
}

.comprasion-thumb__image {
	background-color: #000;
	margin-bottom: 12px;
	img {
		width: 100%;
		opacity: .6;
		.comprasion-thumb.uk-active & {
			opacity: 1;
		}
	}
}

.comprasion-thumb__name {
	font-size: 16px;
	color: #cccccc;
	.comprasion-thumb.uk-active & {
		color: #ffffff;
	}
}

.comprasion__arrows {
	text-align: center;
	margin-bottom: 10px;
	span {
		width: 32px;
		height: 21px;
		display: inline-block;
    margin: 8px 20px;
		&:first-child {
			background: url('../img/icon-arrow-left.svg') no-repeat 50% 50%;
		}
		&:last-child {
			background: url('../img/icon-arrow-right.svg') no-repeat 50% 50%;
		}
	}
	@media (max-width: $breakpoint-small-max) {
		display: none;
	}
}

.comprasion {
	position: relative;
	border-bottom: 1px solid #828281;
	max-width: 100%;
	margin: 0;
}

.comprasion__before__mask,
.comprasion__after__mask,
.comprasion__after,
.comprasion__before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: 50% 50%;
	background-size: cover;
	background-color: rgba(255,255,255,0);
}

.comprasion__label {
	position: absolute;
	bottom: 0;
	color: #cccccc;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	padding: 12px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&--before {
		left: 0;
	}
	&--after {
		right: 0;
	}
}

.comprasion__handle {
	position: absolute;
	width: 18px;
	height: 100%;
	left: 50%;
	top: 0;
	margin-left: -9px;
	cursor: move;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	&:hover {
		&:after {
			background-color: darken(#d3924d, 10%);
		}
	}
	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: -15px;
		width: 100%;
		height: 18px;
		border-radius: 2px;
		background-color: #d3924d;
	}
	&:before {
		content: '';
		left: 50%;
		top: 0;
		width: 1px;
		height: 100%;
		background-color: #cccccc;
		position: absolute;
	}
}

.modal-form {
	width: 400px;
	padding: 20px;
}

.modal-form__title {
	margin-bottom: 20px;
	font-size: 26px;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;
}

.input-notebook {
	padding: 8px 0 0;
	background-color: transparent;
	border-width: 0 0 1px;
	border-color: #ccc;
	font-size: 16px;
	border-radius: 0;
	&:focus {
		background-color: transparent;
	}
	&::-webkit-input-placeholder {
        color: #999999;
	}
	&::-moz-placeholder {
        color: #999999;
	}
	&:-moz-placeholder {
        color: #999999;
	}
	&:-ms-input-placeholder {
        color: #999999;
	}
	& + label.uk-form-danger {
		font-size: 12px;
		font-style: normal;
		line-height: 1.2;
		padding: 0;
		background: transparent;
		border: none;
		box-shadow: none;
		margin: 0;
		&::before {
			display: none;
		}
		&::after {
			display: none;
		}
	}
}
.textarea-notebook {
	padding: 3px 0 0;
	border-width: 0;
	line-height: 40px;
	font-size: 16px;
	border-radius: 0;
	background: transparent url('../img/bg-textarea.png') 0 0 repeat;
	&:focus {
		background-color: transparent;
	}
	&::-webkit-input-placeholder {
        color: #999999;
	}
	&::-moz-placeholder {
        color: #999999;
	}
	&:-moz-placeholder {
        color: #999999;
	}
	&:-ms-input-placeholder {
        color: #999999;
	}
	& + label.uk-form-danger {
		font-size: 12px;
		font-style: normal;
		line-height: 1.2;
		padding: 0;
		background: transparent;
		border: none;
		box-shadow: none;
		margin: 0;
		&::before {
			display: none;
		}
		&::after {
			display: none;
		}
	}
}

label.uk-form-danger {
    font-size: 14px;
    color: $global-danger-background;
    font-style: italic;
    line-height: 1.2;
    padding: 15px;
    background: rgba(255, 228, 230, 0.85);
    border: 1px solid $global-danger-background;
    position: absolute;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
	z-index: 999;
	border-radius: 3px;
    margin-left: 15px;
    margin-top: 4px;
    margin-right: 20px;
    display: block;
}

label.uk-form-danger::before {
    content: '';
    display: block;
    border-width: 0 9px 9px;
    border-style: solid;
    border-color: transparent transparent $global-danger-background;
    position: absolute;
    left: 45px;
    top: -9px;
}

label.uk-form-danger::after {
    content: '';
    display: block;
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 228, 230, 0.85);
    position: absolute;
    left: 46px;
    top: -8px;
}

.calendar {
    background-color: #3a3a39;
    padding: 10px;
    box-sizing: border-box;
    margin: 20px 0;
    @media (min-width: 1750px) and (min-height: 600px) {
        width: 200px;
        position: fixed;
        left: 50px;
        top: 50%;
        transform: translateY(-50%);
		margin-top: 200px;
	}
}

.calendar-grid {
	margin-right: -7px;
}

.calendar-grid__item {
    box-sizing: border-box;
    float: left;
    width: 14.2857%;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 1.36;
    letter-spacing: 0.07px;
    border: 1px solid #636362;
    margin: -1px -1px 0 0;;
    cursor: pointer;
    &:hover {
        color: #999999;
		background-color: rgba(0,0,0,.2);
	}
    &--today {
		background-color: rgba(0,0,0,.8);
	}
    &--inactive {
		color: #666666;
	}
    &--events {
        color: #000000;
		background-color: #d29155;
	}
}

.calendar-grid__item:nth-child(7n+1) {
	clear: both;
}

.calendar-header {
    overflow: hidden;
    position: relative;
	margin-bottom: 10px;
}

.calendar-header__left {
    width: 26px;
    height: 22px;
    background: url('../img/icon-arrow-left.svg') no-repeat 50% 50%;
    background-size: 100% 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.calendar-header__title {
    color: #fefefe;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.08px;
	text-align: center;
}

.calendar-header__right {
    width: 26px;
    height: 22px;
    background: url('../img/icon-arrow-right.svg') no-repeat 50% 50%;
    background-size: 100% 100%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
	cursor: pointer;
}

.comparison-item {
    padding: 40px 0;
    margin: 40px 0;
    border-bottom: 1px solid #666;
}

.page-404-wrap {
    min-height: 100vh;
}

.page-404-content {
    text-align: center;
    margin: 80px 0;
}

.page-404-content__code {
    color: #000000;
    font-size: 133px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.page-404-content__text {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 37px;
}

.page-404-content__back {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.9px;
    display: inline-block;
    border: 1px solid #666666;
    line-height: 59px;
    padding: 0 16px;
    &:hover {
        text-decoration: none;
        color: #000000;
    }
    span {
        transform: scaleX(-1);
        margin-left: 0;
        margin-right: 17px;
        &::before {
            background-color: #000;
        }
        &::after {
            border-right-color: #000;
            border-bottom-color: #000;
        }
    }
}

.page--404 {
    .toolbar {
        background-color: #f4f4f4;
    }
}