.contacts {
	position: relative;
	margin-left: -100px;
	padding: 80px 0;
	@media (max-width: $breakpoint-large-max) {
		margin-left: 0;
	}
	@media (max-width: $breakpoint-small-max) {
		padding: 0 0 20px;
	}
}

.contacts-head {
	position: relative;
}

.contacts-head__image {
	width: 100%;
	height: auto;
	position: relative;
	@media (max-width: $breakpoint-small-max) {
		display: none;
	}
}

.contacts-info {
	position: absolute;
	top: -100px;
	right: 0;
	width: 600px;
	max-width: 100%;
	min-height: 300px;
	box-sizing: border-box;
	padding: 18px 18px 18px 0;
	background-color: #4d4d4c;
	color: #ffffff;
	margin: 0 auto;
	&::before {
		content: '';
		width: 1px;
		height: calc(100% - 36px);
		position: absolute;
		top: 18px;
		left: 50%;
		background-color: rgba(255, 255, 255, 0.48);
		@media (max-width: $breakpoint-xsmall-max) {
			display: none;
		}
	}
	a {
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
	@media (max-width: $breakpoint-small-max) {
		top: auto;
		position: relative;
		padding: 10px;
	}
}

.contacts-info__col {
	padding-top: 20px;
	padding-left: 40px;
}

.contacts-info__row {
	margin-bottom: 25px;
}

.contacts-form {
	position: relative;
	margin-top: -100px;
	max-width: 600px;
	box-sizing: border-box;
	padding: 50px 98px 119px;
	background-color: #f7f7f4;
	@media (max-width: $breakpoint-small-max) {
		margin: 0 auto;
	}
	@media (max-width: $breakpoint-xsmall-max) {
		padding: 10px;
	}
}

.contacts-form__title {
	margin-bottom: 46px;
	font-size: 30px;
	line-height: 1.2;
	text-transform: uppercase;
}

.contacts-placeholder {
	font-family: Rubik;
	color: #999999;
	font-size: 16px;
	font-weight: 400;
	line-height: 36px;
}

.contacts-input {
	padding-left: 0;
	background-color: #f7f7f4;
	border-bottom: 1px solid #cccccc;
	height: 32px;
}

.contacts-textarea {
	width: 100%;
	box-sizing: border-box;
	padding: 0;
	background: url('../img/bg-textarea.png') 0 0 repeat;
	line-height: 32px;
}

.contacts-input, .contacts-textarea {
	&::-webkit-input-placeholder {
        color: #999999;
        font-size: 16px;
	}
	&::-moz-placeholder {
        color: #999999;
        font-size: 16px;
	}
	&:-moz-placeholder {
        color: #999999;
        font-size: 16px;
	}
	&:-ms-input-placeholder {
        color: #999999;
        font-size: 16px;
	}
}

.contacts-input-row {
	margin-bottom: 15px;
}

.contacts-textarea-row {
	margin: 50px 0 18px;
}

.contacts-checkbox {
	margin-top: 2px;
	margin-right: 20px;
}

.contacts__conditions {
	color: #666666;
	font-size: 14px;
	line-height: 1.2;
	cursor: pointer;
	a {
		color: #666666;
		text-decoration: underline;
	}
}

.button-intro--contacts {
	margin-top: 22px;
	padding: 24px 53px 20px 63px;
	.button-intro__arrow {
		margin-left: 34px;
	}
}
