.masterclass-background {
    background: linear-gradient(to bottom, #f7f7f4 200px, #ffffff 200px)
}

.masterclass-item {
    margin-bottom: 20px;
    border: 1px solid #eeeded;
}

.masterclass-item__promo {
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.masterclass-item__date {
    float: right;
    clear: right;
    margin-bottom: 23px;
    padding: 20px 12px 5px 12px;
    background-color: #cc0000;
    text-align: center;
}

.masterclass-item__date-first {
    color: #ffffff;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1.5px;
}

.masterclass-item__date-last {
    float: right;
    clear: right;
    color: #ffffff;
    font-size: 16px;
    line-height: 1;
}

.masterclass-item__places {
    margin-bottom: 10px;
    float: right;
    clear: right;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.08px;
    span {
        font-weight: 500;
    }
}

.masterclass-item__hours {
    display: inlin-block;
    margin-bottom: 14px;
    float: right;
    clear: right;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.08px;
    span {
        font-weight: 500;
    }
}

.masterclass-item__price {
    margin-bottom: 87px;
    float: right;
    clear: right;
    padding: 14px 14px 14px 27px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #333333;
    font-size: 16px;
    letter-spacing: 0.08px;
    span {
        font-size: 30px;
    }
}

.masterclass-item__invite {
    float: left;
    clear: both;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.08px;
    &:hover {
        color: #ffffff;
        text-decoration: none;
        background-color: rgba(48, 47, 47, 0.7);
    }
}

.masterclass-item__description {
    padding: 20px 50px 70px 20px;
    background-color: #fafaf7;
}

.masterclass-item__photo {
    margin-right: 12px;
    img {
        border-radius: 50%; 
    }
}

.masterclass-item__status {
    margin-bottom: 14px;
    color: #666666;
    font-size: 14px;
    letter-spacing: 0.07px;
}

.masterclass-item__name {
    color: #333333;
    letter-spacing: 0.09px;
}

.master-class-item__expert {
    margin-bottom: 26px;
}

.masterclass-item__title {
    margin-bottom: 34px;
    font-size: 24px;
    line-height: 1;
}

.masterclass-item__announcement {
    margin-bottom: 53px;
    color: #666666;
    font-size: 16px;
    line-height: 1.125;
}

.masterclass-item__more {
    font-size: 14px;
    text-decoration: underline;
}
